<footer class="mt-auto">
    <a href="https://github.com/ROEL12037" target="_blank" class="fa-brands fa-square-github link-dark fs-4 text-decoration-none"></a>
    <a href="https://www.linkedin.com/in/roel12037" target="_blank" class="fa-brands fa-linkedin link-dark fs-4 text-decoration-none"></a>
    <a href="https://twitter.com/ROELv12037" target="_blank" class="fa-brands fa-square-twitter link-dark fs-4 text-decoration-none"></a>
</footer>